<section class="view intro-2 rgba-gradient waves-light" mdbWavesEffect>
        <div class="full-bg-img mask">

<div class="col-sm-6 offset-sm-3 " >

        <br>

<div class="card wow fadeInDown" style="width: 100%;" >
    <div class="card-body">
                        <!--     Header-->
                      
<h3><i class="fa fa-lock"></i> Acceso</h3>

        <div class="form-group margin">
                <button [disabled]="loading" class="btn btn-social btn-google waves-light"   (click)="doGoogleLogin()" mdbWavesEffect> <span class="fa fa-google"></span>Entrar con google</button>
                <button [disabled]="loading" class="btn btn-social btn-facebook waves-light" (click)="doFacebookLogin()" mdbWavesEffect> <span class="fa fa-facebook"></span>Entrar con Facebook</button>
               
                      
        </div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">


        <div class="md-form">
            <i class="fa fa-user prefix color"></i>
            <input type="text" formControlName="email" [mdbValidate]="false"  id="orangeForm-email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" mdbInputDirective>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required" class="error">Este campo es obligatorio</div>
                    <div *ngIf="f.email.errors.pattern" class="error">
                    Correo electrónico Incorrecto</div>
                </div>
            <label for="orangeForm-email">Correo Electrónico</label>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix color"></i>
            <input type="password" formControlName="password" [mdbValidate]="false" id="orangeForm-password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" mdbInputDirective>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" class="error">Este campo es obligatorio</div>
            </div>
            <label for="orangeForm-password">Contraseña</label>
          </div>
          
    </div>

    <div class="form-group margin">
        
        <button [disabled]="loading" class="btn btn-primary waves-light" mdbWavesEffect>Acceder</button>
        
       
        <div *ngIf="loading" class="loader white btn-floating btn-lg ">
                
                </div>

    </div>
</form>

                    </div>
    
                    <!--Footer-->
                    <div class="modal-footer">
                        <div class="options">
                            <p>No eres miembro? <a [routerLink]="['/register']"> Registrate!</a></p>
                            
                        </div>
                    </div>

                </div>
<div class="salto"></div>

                </div>

</div>
</section>