.color-btn {
    background-color:  #1c2331;
}

.border-btn{
 border-radius: 30px
 
}

.icon-btn {
    position: absolute;
    top: 0%;
    left: 0%;
}


.sidebar {
    transition: all .3s;
  }


  .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
}
.size {
    width: 210%;
    height: 200%;
}



.view {
    height: 100vh !important;
}

@media (max-width: 768px) {
    .view {
        height: 130vh !important;
    }

}

