

<!--Intro Section-->
<section class="view intro-2 rgba-gradient waves-light" mdbWavesEffect>
    <div class="full-bg-img mask">
        <div class="container flex-center">
            <div class="row flex-center pt-5 mt-3 w-100">
                <div class="col-md-6 text-center text-md-left margins">
                    <div class="white-text">
                        <h2 class="h1 h1-responsive wow fadeInLeft" data-wow-delay="0.3s"> <br>Creemos que tienes derecho a sacarle el máximo partido a tu dinero </h2>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lleva el control total de tu gastos, administra tu vida financiera y alcanza la prosperidad.
                            Manten el control y el poder de tus ingresos de la manera mas efectiva.  </h6>
                            <br>
                            <a class="btn btn-outline-white wow fadeInDown waves-light animated infinite pulse delay-4s " [routerLink]="['panel']" data-wow-delay="0.4s" mdbWavesEffect>Comenzar
                              <i class="fa fa-play ml-1"></i>
                            </a>
                    </div>
                </div>

                <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                    <img src="https://firebasestorage.googleapis.com/v0/b/ekermeth.appspot.com/o/eketmet-mobile-intro.png?alt=media&token=2d23dca1-4010-4beb-9ce2-00b521def6b7" alt="" class="img-responsive size">
                </div>

            </div>
        </div>
    </div>
</section>

  
    <div class="container">
            <div id='container' class="container"></div>
      <!--Section: Features v.1-->
<section class="text-center">
      

        <!--Section heading-->
        <h2 class="h1 py-5 font-weight-bold wow fadeInRight" data-wow-delay="0.6s">¿De que se trata?</h2>

        
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead grey-text wow fadeIn">ekermet es un sistema de control de ingresos el cual administra tu dinero según gastos mensuales, ordenando tus finanzas, generando asi, prosperas ganancias.
          </p>
    
        <!--Grid row-->
        <div class="row">
    
                      <!--Grid column-->
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
                  <i class="fas fa-money-bill-alt fa-3x cyan-text"></i>
                  <h5 class="font-weight-bold mt-3">Ingresos</h5>
                  <p class="grey-text">Mediante tus ingresos administramos tus gastos mensuales, solo agregando en lo que gastas, gestionamos tu dinero para que salgas ganando en cada mes..
                              
                   </p>
            </div>
                      <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
                <i class="fa fa-area-chart fa-3x red-text"></i>
                <h5 class="font-weight-bold mt-3">Analítica</h5>
                <p class="grey-text">visualiza datos en gráficos mediante calculos exactos para conocer rápidamente tus operaciones y el control financiero de tus cuentas.  
                </p>
            </div>
            <!--Grid column-->
    
    
            <!--Grid column-->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
                <i class="fas fa-piggy-bank fa-3x pink-text"></i>
                <h5 class="font-weight-bold mt-3">Ahorro</h5>
                <p class="grey-text"> Ekermet gestiona tus ingresos, para que veas reflejado un efectivo plan de ahorro, administrando el dinero en los 6 modúlos. los cuales te llevaran a la prosperidad financiera.
                </p>
            </div>

            
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Features v.1-->
    <hr>
<!--Section: Features v.4-->
<section>
    
        <!--Section heading-->
        <h2 class="h1 py-5 font-weight-bold text-center wow fadeInLeft">¿Cómo funciona?</h2>

     
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead grey-text text-center wow fadeIn">La clave está en tener un buen plan de ahorro. Lo esencial es que manejes el dinero que tienes de manera inteligente, y para ello aplicamos el método 6 sobres de T. Harv Ecker.</p>
    
        <!--Grid row-->
        <div class="row">
    
            <!--Grid column-->
            <div class="col-md-4">
    
                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="far fa-2x fa-money-bill-alt deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left wow fadeIn" data-wow-delay="0.3s">
                        <h5 class="font-weight-bold">1 - Gastos</h5>
                        <p class="grey-text">En este sobre Ecker recomienda meter un 55% de tus ingresos. Esta cantidad debe cubrir tus necesidades básicas: alquiler, comida, facturas, entre otros.</p>
                    </div>
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fas fa-2x fa-piggy-bank deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left wow fadeIn" data-wow-delay="0.5s">
                        <h5 class="font-weight-bold">2 - Ahorro a largo plazo</h5>
                        <p class="grey-text">No sabes exactamente en qué lo gastarás aún, pero cada mes meterás un 10% de tu dinero en este sobre para ahorrar a largo plazo. Tal vez lo uses para comprar un coche, un ordenador o irte de viaje.</p>
                    </div>
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fa fa-2x fa-glass deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left wow fadeIn" data-wow-delay="0.6s">
                        <h5 class="font-weight-bold">3 – Ocio</h5>
                        <p class="grey-text">Otro 10% de tu dinero irá destinado a actividades de ocio, ya sea conciertos, teatro, cine, salir con amigos…lo que tú elijas. Lo importante es que te lo gastes en ti mismo y en divertirte.</p>
                    </div>
                </div>
                <!--Grid row-->
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4 mb-2 center-on-small-only flex-center wow fadeIn">
                <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt="" class="z-depth-0">
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4">
    
                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fas fa-2x fa-user-graduate deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left wow fadeIn" data-wow-delay="0.8s">
                        <h5 class="font-weight-bold">4 – Educación</h5>
                        <p class="grey-text">Invertir en educación es invertir en tu futuro. Si quieres empezar a ganar más en el futuro vas a tener que empezar a formarte. Destina un 10% de tu dinero a este sobre.</p>
                    </div>
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fas fa-2x fa-hand-holding-usd deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left wow fadeIn" data-wow-delay="0.9s">
                        <h5 class="font-weight-bold " >5 – Finanzas libres</h5>
                        <p class="grey-text">El objetivo del dinero de este sobre – otro 10% -es que acabe dándote beneficios con el tiempo. Puedes invertirlo o hacer cualquier cosa que vaya a generar ingresos pasivos.</p>
                    </div>
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fas fa-2x fa-heart deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left wow fadeIn" data-wow-delay="1.0s">
                        <h5 class="font-weight-bold">6 – Donaciones</h5>
                        <p class="grey-text">El 5% restante irá a donaciones. Ecker hace especial hincapié además en este gasto. Insiste en que todo el mundo está capacitado para hacerlo ya que el sistema está diseñado de tal manera que se ajusta a tus ingresos: ya inviertas 1 dolar al mes o 100 dolares, todo suma y ayuda.</p>
                    </div>
                </div>
                <!--Grid row-->
    
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--/Section: Features v.4-->

    <hr>

    <app-contact></app-contact>

    
</div>



