
<div class="col-sm-8 offset-sm-2 " >

    <br>

<div class="card" style="width: 100%;" >
<div class="card-body pdd">
                    <!--     
                  
<h3><i class="fa fa-lock"></i></h3>
Header-->

<div class="form-group">


  <app-stepper></app-stepper>
  <!--
    <div class="md-form">
        <i class="fa fa-user prefix color"></i>
        <input type="text" formControlName="email" [mdbValidate]="false"  id="orangeForm-email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" mdbInputDirective>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" class="error">Este campo es obligatorio</div>
                <div *ngIf="f.email.errors.pattern" class="error">
                Correo electrónico Incorrecto</div>
            </div>
        <label for="orangeForm-email">Correo Electrónico</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix color"></i>
        <input type="password" formControlName="password" [mdbValidate]="false" id="orangeForm-password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" mdbInputDirective>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" class="error">Este campo es obligatorio</div>
        </div>
        <label for="orangeForm-password">Contraseña</label>
      </div>
      
    -->
</div>


                </div>

            </div>
<div class="salto"></div>



            </div>

